@if(olympicCountries != undefined && olympicCountries.length > 0){

    <div class="dashboard">
        <div class="header">
        <h2 class="title">Medals per Country</h2>
      
        <div class="info-boxes">
          <div class="info-box">
            <div class="info-label">Number of JOs</div>
            <div class="info-value">{{olympicCountries[0].participations.length}}</div>
          </div>
          <div class="info-box">
            <div class="info-label">Number of countries</div>
            <div class="info-value">{{olympicCountries.length}}</div>
          </div>
        </div>
    </div>
      
        
        <div class="chart-placeholder">
            <app-pie [olympicCountries]="olympicCountries"></app-pie>
        </div>
      </div>
}